---
layout: default
---

{% assign max_distance = 0 %}
{% assign max_distance_date = 0 %}

{% assign min_pace_5k = 1000000 %}
{% assign date_5k = 0 %}

{% for post in site.posts %}
  {% if post.distance > max_distance %}
    {% assign max_distance = post.distance %}
    {% assign max_distance_date = post.date %}
  {% endif %}
  {% if post.distance == 3.2 and post.avg_pace < min_pace_5k %}
    {% assign min_pace_5k = post.avg_pace %}
    {% assign date_5k = post.date %}
  {% endif %}
{% endfor %}

<div class="home">

  <div style="float: left; width: 450px: margin: 0">
    <div style="display: table">
      <ul class="box">
        <li style="text-transform: uppercase">Total {{ site.units.distance }}</li>
        <li class="value">1 409</li>
      </ul>
      <ul class="box">
        <li style="text-transform: uppercase">Total runs</li>
        <li class="value">260</li>
      </ul>
    </div>
  </div>

  <div style="width: 300px; float: right; margin: 0">
    <h4 style="display: inline; text-transform: uppercase">Personal Records</h4>

    <ul style="list-style: none; margin-left: 0">
      <li>
        <div style="font-weight: 500">5K</div>
        <div style="font-size: 80%; color: #888">{{ min_pace_5k | pace }}
          <span class="right">{{ date_5k | date: "%b %-d, %Y" }}</span>
        </div>
      </li>
      <li>
        <div style="font-weight: 500">farthest</div>
        <div style="font-size: 80%; color: #888">{{ max_distance }} {{ site.units.distance }}
          <span class="right">{{ max_distance_date | date: "%b %-d, %Y" }}</span>
        </div>
      </li>
    </ul>
  </div>

  <div style="clear: both">
  </div>

  <h3 style="text-transform: uppercase">Recent Activities</h3>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta" style="width: 150px; display: inline-block">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a href="{{ post.url | prepend: site.baseurl }}" style="text-transform: uppercase">{{ post.title }}</a>
          <span class="right">{{ post.distance }} {{ site.units.distance }} | {{ post.duration | timeDuration }}</span>
      </li>
    {% endfor %}
  </ul>

</div>
