---
layout: default
---

{% assign weight_history = site.data.weight | sort | reversed limit:30 %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
google.charts.load('current', {'packages': ['corechart', 'line']});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {
  var weight = new google.visualization.DataTable();
  weight.addColumn('date', 'Day');
  weight.addColumn('number', 'weight [{{ site.units.weight }}]');
  weight.addRows([
    {% for weight in weight_history | reversed %}[new Date({{ weight[0] | jsdate }}), {{ weight[1].weight }}],
    {% endfor %}
  ]);
  var weight_opts = {
    hAxis: {
      title: '',
      text_position: 'out'
    },
    vAxis: {
      title: 'weight [{{ site.units.weight }}]'
    },
    legend: {
      position: 'none'
    },
    chartArea: {
      left: 90,
      right: 0,
      top: 10,
      bottom: 30
    }
  };
  var weight_chart = new google.visualization.LineChart(document.getElementById('weight-chart'));
  weight_chart.draw(weight, weight_opts);

  var fat = new google.visualization.DataTable();
  fat.addColumn('date', 'Day');
  fat.addColumn('number', 'fat [%]');
  fat.addRows([
    {% for weight in weight_history | reversed %}[new Date({{ weight[0] | jsdate }}), {{ weight[1].fat }}],
    {% endfor %}
  ]);
  var fat_opts = {
    hAxis: {
      title: '',
      text_position: 'out'
    },
    vAxis: {
      title: 'body fat [%]'
    },
    legend: {
      position: 'none'
    },
    chartArea: {
      left: 90,
      right: 0,
      top: 10,
      bottom: 30
    }
  };
  var fat_chart = new google.visualization.LineChart(document.getElementById('fat-chart'));
  fat_chart.draw(fat, fat_opts);
}
</script>

{% assign latest = weight_history | last %}
<div style="display: table">
  <ul class="box">
    <li style="text-transform: uppercase">Weight</li>
    <li class="value">{{ latest[1].weight }} {{ site.units.weight }}</li>
  </ul>
  <ul class="box">
    <li style="text-transform: uppercase">Body fat</li>
    <li class="value">{{ latest[1].fat }} %</li>
  </ul>
</div>

<!--
<div><span class="date_range right">April 2016 - May 2016</span></div>
-->

<div id="weight-chart" style="border: 0; height: 150px; margin-bottom: 2em; margin-top: 2em">
</div>
<div id="fat-chart" style="border: 0; height: 150px; margin-bottom: 2em; margin-top: 2em">
</div>

<h3 style="text-transform: uppercase">History</h3>

<ul class="history">
  {% for weight in weight_history reversed %}
  {% assign w_date = weight[0] %}
  {% assign w = weight[1] %}
    <li>{{ w_date | wdate }}
      <span class="right">{{ w.weight }} {{ site.units.weight }}
        <span class="fat">{{ w.fat }} % fat</span>
      </span>
    </li>
  {% endfor %}
</ul>
