---
layout: default
---

{% for weight in site.data.weight %}
  {% assign latest = weight[1] %}
{% endfor %}

<div style="display: table">
  <ul class="box">
    <li style="text-transform: uppercase">Weight</li>
    <li class="value">{{ latest.weight }} {{ site.units.weight }}</li>
  </ul>
  <ul class="box">
    <li style="text-transform: uppercase">Body fat</li>
    <li class="value">{{ latest.fat }} %</li>
  </ul>
</div>

<div><span class="date_range right">April 2016 - May 2016</span></div>

<div id="weight-chart" style="border: 1px solid #000; height: 200px; margin-bottom: 2em; margin-top: 2em">
</div>

<h3 style="text-transform: uppercase">History</h3>

<ul class="history">
  {% for weight in site.data.weight reversed limit: 10 %}
  {% assign w_date = weight[0] %}
  {% assign w = weight[1] %}
    <li>{{ w_date | wdate }}
      <span class="right">{{ w.weight }} {{ site.units.weight }}
        <span class="fat">{{ w.fat }} % fat</span>
      </span>
    </li>
  {% endfor %}
</ul>
