---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%A, %B %-d, %Y" }}</time>
      {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}
    </p>
    <h1 class="post-title" itemprop="name headline" style="font-size: 1.5em; text-transform: uppercase">{{ page.title }}</h1>
  </header>

  <div style="display: table">
    <ul class="box">
      <li class="title" style="text-transform: uppercase">{{ site.units.distance }}</li>
      <li class="value">{{ page.distance }}</li>
    </ul>
    <ul class="box">
      <li class="title">DURATION</li>
      <li class="value">{{ page.duration | timeDuration }}</li>
    </ul>
    <ul class="box">
      <li class="title">AVG PACE</li>
      <li class="value">{{ page.avg_pace | pace }}</li>
    </ul>
    <ul class="box">
      <li class="title">CALORIES BURNED</li>
      <li class="value">{{ page.calories }}</li>
    </ul>
  </div>

  <link rel="stylesheet" href="http://openlayers.org/en/v3.16.0/css/ol.css" type="text/css">
  <script src="http://openlayers.org/en/v3.16.0/build/ol.js" type="text/javascript"></script>
  <div id="map" style="height: 400px; border: 1px solid #888"></div>
  <div id="info">&nbsp;</div>
  <script type="text/javascript">
  var raster = new ol.layer.Tile({
    source: new ol.source.MapQuest({layer: 'osm'})
  });

  var style = {
    'Point': new ol.style.Style({
      image: new ol.style.Circle({
        fill: new ol.style.Fill({
          color: 'rgba(255,255,0,0.4)'
        }),
        radius: 5,
        stroke: new ol.style.Stroke({
          color: '#ff0',
          width: 1
        })
      })
    }),
    'LineString': new ol.style.Style({
      stroke: new ol.style.Stroke({
        color: '#f00',
        width: 3
      })
    }),
    'MultiLineString': new ol.style.Style({
      stroke: new ol.style.Stroke({
        color: '#666',
        width: 3
      })
    })
  };

  var vector = new ol.layer.Vector({
    source: new ol.source.Vector({
      url: '{{ page.gpx }}',
      format: new ol.format.GPX()
    }),
    style: function(feature) {
      return style[feature.getGeometry().getType()];
    }
  });

  var map = new ol.Map({
    layers: [raster, vector],
    target: document.getElementById('map'),
    view: new ol.View({
      center: ol.proj.fromLonLat([{{ page.map_center }}]),
      zoom: 14
    })
  });

  var displayFeatureInfo = function(pixel) {
    var features = [];
    map.forEachFeatureAtPixel(pixel, function(feature) {
      features.push(feature);
    });
    if (features.length > 0) {
      var info = [];
      var i, ii;
      for (i = 0, ii = features.length; i < ii; ++i) {
        info.push(features[i].get('desc'));
      }
      document.getElementById('info').innerHTML = info.join(', ') || '(unknown)';
      map.getTarget().style.cursor = 'pointer';
    } else {
      document.getElementById('info').innerHTML = '&nbsp;';
      map.getTarget().style.cursor = '';
    }
  };

  map.on('pointermove', function(evt) {
    if (evt.dragging) {
      return;
    }
    var pixel = map.getEventPixel(evt.originalEvent);
    displayFeatureInfo(pixel);
  });

  map.on('click', function(evt) {
    displayFeatureInfo(evt.pixel);
  });
  </script>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
  google.charts.load('current', {'packages': ['corechart', 'line']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var elevation = new google.visualization.DataTable();
    elevation.addColumn('number', 'Day');
    elevation.addColumn('number', 'elevation');
    elevation.addRows([{% for e in page.elevation %}
      [{{ forloop.index }}, {{ e }}],{% endfor %}
    ]);
    var elevation_opts = {
      hAxis: {
        title: '',
        gridlines: {
          count: 0
        }
      },
      vAxis: {
        title: '',
        gridlines: {
          count: 0
        },
        minValue: {{ page.min_ele | minus:10 }},
        maxValue: {{ page.max_ele | plus:10 }},
        baseline: {{ page.min_ele | minus:20 }}
      },
      legend: {
        position: 'none'
      },
      chartArea: {
        left: 0,
        right: 0,
        top: 0,
        bottom: 0
      }
    };
    var elevation_chart = new google.visualization.LineChart(document.getElementById('elevation-chart'));
    elevation_chart.draw(elevation, elevation_opts);

    var pace = new google.visualization.DataTable();
    pace.addColumn('number', 'Day');
    pace.addColumn('number', 'pace');
    pace.addRows([{% for p in page.pace %}
      [{{ forloop.index }}, {{ p }}],{% endfor %}
    ]);
    var pace_opts = {
      hAxis: {
        title: '',
        gridlines: {
          count: 0
        }
      },
      vAxis: {
        title: '',
        gridlines: {
          count: 0
        }
      },
      legend: {
        position: 'none'
      },
      chartArea: {
        left: 0,
        right: 0,
        top: 0,
        bottom: 0
      }
    };
    var pace_chart = new google.visualization.LineChart(document.getElementById('pace-chart'));
    pace_chart.draw(pace, pace_opts);
  }
  </script>

  <div style="margin: 1em 0; height: 100px">
    <div style="width: 20%; float: left">
      <ul class="box" style="width: 120px; margin: 0">
        <li class="title">TOTAL CLIMB</li>
        <li class="value">{{ page.total_climb }}</li>
      </ul>
    </div>
    <div id="elevation-chart" style="width: 79%; height: 98px; border: 0; float: right">
    </div>
  </div>

  <div style="margin: 1em 0; height: 100px">
    <div style="width: 20%; float: left">
      <ul class="box" style="width: 120px; margin: 0">
        <li class="title">AVG PACE</li>
        <li class="value">{{ page.avg_pace | pace }}</li>
      </ul>
    </div>
    <div id="pace-chart" style="width: 79%; height: 98px; border: 0; float: right">
    </div>
  </div>

  <ul style="width: 50%; list-style: none; margin-left: 0; font-size: 90%; margin-top: 1em; color: #666">
    <li style="font-weight: 500; color: #000">Splits <span class="right">Pace <span style="display: inline-block; width: 100px; text-align: right">Climb</span></span></li>
    {% for split in page.splits %}
    <li>{{ split.name }} <span class="right">{{ split.pace | pace }} <span style="display: inline-block; width: 75px; text-align: right">{{ split.climb }}</span></span></li>
    {% endfor %}
</ul>

<h4 style="text-transform: uppercase">Notes</h4>

<div>
  {{ page.content }}
</div>

</article>
